* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#area_bread, #area_input, #area_output {
    display: inline-block;
    vertical-align: top;
}

#area_input, #area_output {
    width: calc(482px - 2 * 6px);
    resize: none;
    height: 160px;
    font-size: 1.8em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25); 
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 6px;
}

#area_bread, #area_bread_overlay {
    width: calc(100% - 2 * 4px);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25); 
    border-radius: 2px;
    padding: 4px;
    min-height: 20px;
}

#area_bread_overlay {
    background-color: rgba(0, 0, 0, 0.432);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    top: 0;
    left: 0;
}

#div_inout {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.breadcrumb {
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25); 
    padding: 4px;
    user-select: none;
    font-size: 1.3em;
}

.bread:not(:first-child) {
    margin-top: 10px;
}

.breadcrumb:hover {
    cursor: pointer;
}

.breadcrumb + .breadcrumb {
    margin-left: 5px;
}

.breadcrumb_blank {
    background-color: none;
}

.breadcrumb_must {
    background-color: #8194ff;
}

.breadcrumb_forbid {
    background-color: #ff8181;
}

.bread {
    text-align: left;
    width: 100%;
}

#area_bread_must, #area_bread_forbid {
    text-align: left;
    border-radius: 2px;
    padding: 4px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25); 
    width: calc(100% - 2 * 4px);
    margin-top: 20px;
}

#div_bread {
    display: inline-block;
    position: relative;
    width: calc(100% - 2 * 6px);
}

.breadcrumb_global_text {
    /* display: inline-block; */
    margin-bottom: 5px;
}