* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#area_output, #area_input {
    display: inline-block;
}

#area_input {
    width: 500px;
    resize: none;
    height: 200px;
    font-size: 1.2em;
}

#area_output {
    width: 600px;
    height: 300px;
    font-size: 1.3em;
}

#areas_both {
    /*  */
}